*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

h3 {
  margin: 0;
  margin-bottom: 10px;
}

#message-form {
  margin-bottom: 10px;
}

input,
textarea {
  padding: 5px;
}

#latitude,
#longitude {
  width: 75px;
}

#message {
  width: 300px;
  padding-bottom: 30px;
  vertical-align: top;
}

#map {
  display: inline-block;
  width: 80%;
  height: 70%;
  margin: 0 auto;
}

.options {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
}

.btn {
  padding: 5px;
  border: 1px solid black;
}

.btn:hover {
  cursor: pointer;
}


#show-markers {
  margin-bottom: 10px;
}

